 /* imports */
@import "./imports/_mixins.less";
@import "./imports/_variables.less";
@import "./imports/_fonts.less";

*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: Acrom;
  font-size: 20px;
  font-weight: 400;
  color: #00000a;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin:0;
}

h1,h2 {
  margin-top: 0;
}

.body {
  background-image: url('../img/bg-main.png');
  background-size: auto;
  background-position: top center;
  background-repeat: repeat-y;

  @media @desktop {
    background-image: url('../img/bg-main-md.png');
    background-size: auto;
    background-position: top center;
    background-repeat: repeat-y;
  }
  @media @tablet {
    background-image: url('../img/bg-main-tb.png');
    background-size: auto;
    background-position: top center;
    background-repeat: repeat-y;
  }
  @media @mobiles {
   background: #ffffff;
  }
  
}

/* STRIP */

.strip {
  height: 75px;
  text-align: right;
  padding:15px 0;

  @media @mobiles {
    padding: 7px 0 15px 0;
  }
  &__container {
    @media @mobiles {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      align-content: center;

      &:before, &:after {
        content: none;
      }
    }
  }
  &__item {
    display: inline-block;
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }

    @media @mobiles {
      margin-right: 0;
      display: block;
    }
  }

  &__btn {
    margin-bottom: 0 !important;
    @media @mobiles {
      font-size: 12px !important;
      height: 37px !important;
      line-height: 37px !important;
      padding: 0 5px !important;
    }
  }

  &__link {
    margin-bottom: 0;
    @media @mobiles {
      font-size: 15px;
    }
  }
}

/* HEADER */
.header {
  background-color: #00000a;
  height: 70px;

  @media @mobiles {
    height: 40px;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    &:after, &:before {
      content: none !important;
    }
  }
  &__item {
    display: block;


    &--logo {
      
      position: relative;

      img {
        position: absolute;
        @media @mobiles {
          top:-30px;
        }
      }
      
      @media @mobiles {
        width: 120px;
      }
      @media @tablet {
        width: 150px;
        img {
          top: -30px;
        }
      }

      @media @desktop {
        width: 180px;

        img {
          top: -40px;
        }
      }

      @media @desktop-xl {
        width: 200px;
        img {
          top: -45px;
        }
      }
    }

    &--phone {
      display: none;
    }
  }
  
  &--top {
    top: -70px;
  }
  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: top .5s ease;
    height: 70px;
    z-index: 100;

    .nav__link {
      font-size: 14px;
    }
    .header__item--logo {
      width: 120px;
      img { 
        top:5px;
      }

      @media @mobiles {
        width: 70px;
        img {
            top: 3px !important;
        }
      }
    }

    .header__item--phone {
      display: block;
      a {
        line-height: 65px;
      }
      @media @not-desktop {
        display: none;
      }
    }

    .img {
      display: none;
      &--fixed {
        display: block;

      }

    }
  }
}

.main {
  &--fixed {
    margin-top: 70px;
  }
}
/* NAV */

.navbar-toggler {
  display: none;
  border: none;
  
  cursor: pointer;
  background: 0 0;
  float: right;

  position: absolute;
 
  z-index: 2;
  
  &__bar {
    background: #ffffff;
    display: block;
    width: 100%;
    height: 3px;
    margin-bottom: 6px;
  }

  @media @not-desktop {
    display: block;
  }

  @media @tablet {
    right: 20px;
    top: 25px;
    width: 40px;
    height: 30px;
  }

  @media @mobiles {
    right: 20px;
    top: 10px;
    width: 25px;
    height: 21px;
  }
}
.nav {
  
  @media @not-desktop {
    background-color: #00000a;
    width: 180px;
    position: absolute;
    right: 0;
    
    max-height: 0;
    height: auto;
    transition: max-height .25s ease-out;
    overflow: hidden;
    z-index: 99;
    
    &--active {
      display: block;
      position: absolute;
      right: 0;
      max-height: 1000px;
      transition: max-height .35s ease-in;


    }
  }
  @media @mobiles {
    
      top: 40px;
    
  }

  @media @tablet {
    
      top: 70px;
    
  }


  &__list {

  }

  &__item {
    display: inline-block;
    

    

    &:last-child {
      margin-right: 0;
    }
    
    @media @desktop-xl {
      margin-right: 30px;
    }
    @media @desktop {
      margin-right: 15px;
    }
    @media @not-desktop {
        margin: 0;
        display: block;

        border-top: 1px solid #ccccce;
        &:last-child {
          border-bottom: 1px solid #ccccce;
        }
    }
  }

  &__link {
    display: block;
    color:#ffffff;
    color: #ffffff;
    
    font-size: 18px;
    font-weight: 700;
    line-height: 70px;
    
    text-transform: uppercase;
    text-decoration: none;
    
    transition: color 0.3s ease, transform 0.3s ease;
  
    &:hover {
      transform: scale(1.15);
    }

    &--red {
      color: #e1002b;
    }

    @media @not-desktop {
      line-height: 35px;
      text-align: right;
      padding:0 15px;

    }
  }
}

/* MAIN */ 

.container {
  padding: 0;
  
  @media @mobiles {
    padding:0 15px;
  }

  &--map {
    width: 100%;
    @media @mobiles {
      padding:0;
    }
  }
  &:after {
    display: block;
    content: "";
    clear: both;
  }
}

.section {

  @media @mobiles {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 0;
    margin-top: 0;
  }

  &--page {
    padding-top: 80px;
    
    @media @desktop {
      padding-top: 50px;
    }
    
    @media @tablet {
      padding-top: 50px;
    }
    @media @mobiles {
      padding-top: 35px;
      padding-bottom: 20px;
      background-image: url('../img/bg-section-page-sm.jpg');
      
    }
  }

  &--what {
    @media @tablet {
      padding-top: 120px;
    }
    @media @mobiles {
      background-image: url('../img/bg-section-what-sm.jpg');
    }
  }
  &--roll {
    @media @desktop {
      margin-bottom: 50px;
    }
    
    @media @mobiles {
      background-image: url('../img/bg-section-roll-sm.jpg');
    }
  }
  &--command {
    margin-bottom: 130px;
    
    @media @desktop {
      margin-bottom: 60px;
    }

    @media @tablet {
      margin-bottom: 100px;
    }
    
    @media @mobiles {
      margin-bottom: 0;
      padding-top: 35px;
      padding-bottom: 50px;
      background-image: url('../img/bg-section-commands-sm.jpg');
    }
  }
  &--photos {
    .section__title {
      margin-bottom: 80px;
    }
    margin-bottom: 200px;
    
    @media @desktop {
      margin-bottom: 160px;
    }

    @media @tablet {
      margin-bottom: 150px;
      .section__title {
        margin-bottom: 100px;
      }
    }
    @media @mobiles {
      padding-top: 35px;
      padding-bottom: 20px;
      .section__title {
        margin-bottom: 15px;
      }
      background-image: url('../img/bg-section-photos-sm.jpg');
    }
  }

  &--prouds {
    @media @mobiles {
      padding-top: 80px;
      background-image: url('../img/bg-section-prouds-sm.jpg');
    }
  }

  &--students {
    @media @mobiles {
      background-image: url('../img/bg-section-students-sm.jpg');
    }
  }

  &--trainers {
    margin-bottom: 120px;
  
    @media @desktop {
      margin-bottom: 100px;
    }

    @media @tablet {
      margin-bottom: 100px;
    }

    @media @mobiles {
      background-image: url('../img/bg-section-trainers-sm.jpg');
      padding-top: 0px;
      padding-bottom: 50px;
    }
  }
  
  &--faq {
    @media @mobiles {
      background-image: url('../img/bg-section-faq-sm.jpg');
      padding-bottom: 30px;
    }
  }

  &--promo {
    @media @mobiles {
      background-image: url('../img/bg-section-promo-sm.jpg');
      padding-bottom: 0;
    }
  }

  &--reviews {
    @media @mobiles {
      padding-top: 25px;
      background-image: url('../img/bg-section-reviews-sm.jpg');
    }
  }


  &--map {
    margin-top: 180px;
    padding-bottom: 50px;
    margin-bottom: -1px;

    @media @mobiles {
      padding-top: 115px;
      padding-bottom: 100px;
      background-image: url('../img/bg-section-map-sm.jpg');
    }
  }

  &--promo {
    margin-bottom: 65px;
    @media @mobiles {
      padding-bottom: 30px;
    }
  }
  
  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  &__title {
    font-family: "Code-Pro";
    font-size: 45px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -0.9px;
    
    margin-bottom: 30px;

    @media @desktop {
      font-size: 41px;
    }
    
    @media @tablet {
      font-size: 38px;
    }
    @media @mobiles {
      font-size: 21px;
      line-height: 25px;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center !important;
      padding:0 ;

      margin-bottom: 20px;

    }
    
    &--white {
      color:#ffffff;
    }

    &--right {
      text-align: right;
    }

    &--center {
      text-align: center;
    }
  }


}


/* PAGE */

.page {
  display: flex;
  height: 490px;
  flex-flow: column wrap;

  &__parallax {
    flex: 1 1 0;
    flex-basis: 100%;
    order: 3;
    

    @media @desktop {
      margin-top: 80px;
    }

    @media @mobiles {
      margin-bottom: 15px;
    }
  }

  &__title {
    flex: 1 1 0;
    order: 1; 

    @media @mobiles {
      margin-bottom: 0;
      br {
        display: none;
      }
    }
  }

  &__form {
    flex: 1 1 0;
    order: 2;
    @media @mobiles {
      padding:0;
    }
  }
  
  @media @tablet {
    height: 390px;
  }
  
  @media @mobiles {
    height: auto;
    display: block;
    max-width: 400px;
    left: 0;
    right: 0;
    margin: auto;
  }
  
  
  &__title {
     margin: 0;
    font-family: "Code-Pro";
    font-size: 54px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
    
    @media @desktop {
      font-size: 48px;
    }

    @media @tablet {
      font-size: 41px;
    }
    
    @media @mobiles {
      font-size: 31px;
    }
  }
}


/* Buttons */
.link {
  color: #00000a;
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;

  &--white {
    display: block;
    color:#ffffff;
  }
}
.img {
  &--responsive {
    width: 100%;
  }

  &--auto {
    width: auto; 
  }

  &--fixed {
    display: none;
  }
}
.btn {
  display: inline-block;

  


  height: 45px;
  padding: 0 25px;
  margin-bottom: 25px;

  border-radius: 25px;

  line-height: 45px;
  
  font-size: 16px;
  font-weight: 700;
  
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  
  cursor: pointer;
  &--white {
    background-color: #ffffff;
    color: #00000a;
    box-shadow:  0px 4px 0px -1px #00000a;
    transition: box-shadow 0.3s ease;
    &:hover {
      box-shadow: unset;
    }
  }

  &--red {
    background-color: #ff0000;
    color:#ffffff;
    box-shadow:  0px 4px 0px -1px #ffffff;
    transition: box-shadow 0.3s ease;
    &:hover {
      box-shadow: unset;
    }
  }
  
  &--black {
    background-color: #00000a;
    color:#ffffff;
  }

  &--br {
    box-sizing: content-box;
    border: 2px solid #00000a;
    background-color: #ffffff;
    color: #00000a;
    text-transform: uppercase;
    
    transition: background-color 0.3s ease;
    &:hover {
      background-color: #CCCBCE;
    }


  }

  &--form {
    height: 75px;
    width: 100%;


    border-radius: 40px;
    
    color: #ffffff;
    font-family: "Acrom";
    font-size: 33px;
    font-weight: 700;
    line-height: 75px;
    text-align: center;
    text-transform: uppercase;

    margin-bottom: 0;
  }
  
  &--popup {

  }
  @media @mobiles {
    padding: 0 10px;
    font-size: 14px;
    height: 37px;
    line-height: 37px;
    &.pull-right {
      float: none;
    }
  }
}

/* Sections */


.keys {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  &__item {
    width: ~"calc(25% - 20px)";

    &:last-child {
      margin-right: 0;
    }

    @media @mobiles {
      width: 50%;
      margin-bottom: 15px;
    }
  }

  @media @mobiles {
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
  }
}


.key {
  color: #00000a;

  @media @mobiles {
    padding: 0 10px;
  }
  &__img {
    margin-bottom: 15px;
    text-align: center;
    @media @mobiles {
      margin-bottom: 0;
    }
  }
  &__title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 5px;
    
    @media @tablet {
      font-size: 27px;
      line-height: 21px;
    }
    @media @mobiles {
      font-size: 13px;
      line-height: 15px;
    }
  }

  &__desc {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;

    @media @mobiles {
      font-size: 12px;
    }
  }

  &__text {
    font-weight: 400;
    line-height: 27px;
    font-size: 18px;
    text-align: left;
    word-wrap: break-word;
    

    @media @tablet {
      font-size: 16px;
      line-height: 21px;
    }
    @media @mobiles {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: -1px;
    }
  }
}


.roll {
  position: relative;
  width: 90%;
  height: 280px;

  padding:95px 0;
  left: 0;
  right: 0;
  margin: auto;
  
  margin-bottom: 30px;

  background-image: url('../img/bg-scroll.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  
  
  @media @tablet {
    height: 200px;
    padding: 60px 0;
  }

  @media @mobiles {
    height: 110px;
    padding: 30px 0 40px 0;

    margin-bottom: 0;
  }
  &__text {
    position: relative;

    height: 80px;
    background-image: url('../img/bg-roll.png');
    
    background-repeat: no-repeat;
    background-position: center;
    padding:12px 0;

    color: #00000a;
    font-family: "Code-Pro";
    font-size: 29px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    
    
    @media @desktop-xl {
      font-size: 29px;
    }
    
    @media @desktop {
      font-size: 25px;
    }
    
    @media @tablet {
      display: flex;  
      align-items: center;
      font-size: 18px;
      //height: 45px;
      padding: 0 10px;
    }


    @media @mobiles {
      display: flex;  
      align-items: center;
      font-size: 10px;
      height: 45px;
      padding: 0 10px;
    }

    &:before, &:after {
      content: '';
      position: absolute;  
      width: 30px;
      height: 100px;
      top:-10px;

      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

      @media @mobiles {
        height: 52px;
        width: 18px;
        top:-3px;
      }
    }

    &:before {
      background-image: url('../img/bg-scroll-left.png');
      left: -29px;
      @media @mobiles {
        left: -17px;
      }
    }

    &:after {
      background-image: url('../img/bg-scroll-right.png');
      right: -29px;
      @media @mobiles {
        right: -17px;
      }
    }
  }
}

.info {
  display: flex;
  justify-content: space-between;
  
  @media @mobiles {
    margin-bottom: 100px;
  }

  @media @mobiles {
    display:block;
    margin-bottom: 0;
  }
  
  &__item {
    width: ~"calc(33.33% - 20px)";
    @media @mobiles {
      width: 100%;
      margin-bottom: 35px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  } 

  &__img {
    text-align: center;
    margin-bottom: 30px;
    border-radius: 50%;
    overflow:hidden;
    
    width: 340px;
    height: 340px;
    left: 0;
    right: 0;
    margin: auto;
    margin-bottom: 15px;
    
    img {
      transition: transform 0.3s ease;
      transform: scale(1.1);
    }
  
    @media @desktop {
      width: 250px;
      height: 250px;
    }

    @media @tablet {
      width: 200px;
      height: 200px;
      margin-bottom: 15px;
    }

    @media @mobiles {
      width: 200px;
      height: 200px;
      margin-bottom: 15px;

      img {
        transform: scale(1.2);
      }
    }
  }

  &__desc {
    color: #ffffff;
  }
  
  &__title {
    font-size: 34px;
    font-weight: 700;

    @media @tablet {
      font-size: 27px;
      line-height: 21px;
      text-align: center;
      margin-bottom: 10px;
    }

    @media @mobiles {
      font-size: 20px;
      text-align: center;
      margin-bottom: 5px;
    }
  }

  &__text {
    font-weight: 400;
    line-height: 27px;
    font-size: 18px;
    text-align: left;
    word-wrap: break-word;
    
    @media @tablet {
      font-size: 16px;
      line-height: 21px;
    }

    @media @mobiles {
      font-size: 12px;
      line-height: 14px;
    }
  }

}

.prouds {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    width: ~"calc(33.33% - 15px)";
    margin-bottom: 60px;
    
    @media @desktop {
      margin-bottom: 45px;
    }
    @media @mobiles {
      width: 49%;
      margin-bottom: 30px;
    }

    &--single {
      @media @mobiles {
        width: 100%;
      }
    }
  }

  &__img {
    text-align: center;
    margin-bottom: 30px;

    @media @not-desktop {
      img {
        width: 100%;
        height: auto;
      }
    }

    @media @mobiles {
      margin-bottom: 15px;
      padding: 0 25px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }

  &__desc {
    color: #00000a;
    font-size: 20px;

  }

  &__title {
    font-size: 34px;
    font-weight: 700;
    
    @media @tablet {
      font-size: 21px;
      line-height: 28px;
    }

    @media @mobiles {
      font-size: 14px;
      line-height: 21px;
    }
  }

  &__text {
    font-weight: 400;
    line-height: 27px;
    font-size: 18px;
    text-align: left;
    word-wrap: break-word;
    
    @media @tablet {
      font-size: 16px;
      line-height: 21px;
    }

    @media @mobiles {
      font-size: 12px;
      line-height: 16px;
      letter-spacing: -1px;
    }
  }
}

.faq {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px;

  flex-flow: row wrap;

  @media @mobiles {
    display: block;
    margin-bottom: 0;
  }

  &__item {
    color: #00000a;
    background-color: #ffffff;
    padding:30px;
    width: ~"calc(50% - 15px)";
    margin-bottom: 30px;
    
    &:last-child {
      margin-bottom: 0;
    }

    @media @desktop {
      padding: 25px;
    }
    @media @tablet {
      padding: 20px;
    }
    @media @mobiles {
      width: 100%;
      padding: 15px;
      margin-bottom: 10px;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 700;

    border-bottom: 1px solid #ff0000;
    margin-bottom: 15px;
    padding-bottom: 15px;
      

    @media @tablet {
      font-size: 20px;
      margin-bottom: 10px;
    }
    @media @mobiles {
      font-size: 14px;
      margin-bottom: 10px;
    }
  }

  &__desc {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    
    @media @desktop {
      font-size: 17px;
      line-height: 25px;
    }

    @media @tablet {
      font-size: 16px;
      line-height: 21px;
    }

    @media @mobiles {
      font-size: 12px;
      line-height: 15px;
    }
  }
}

.footer {
  height: 110px;
  background-color: #ff0000;
  
  @media @mobiles {
    height: auto;
    padding: 15px 0;
  }
  

  &__btn {
    margin-bottom: 0;
    box-sizing: border-box;
    line-height: 42px;

    @media @mobiles {
      padding: 0 5px;
      height: 25px;
      line-height: 21px;
      font-size: 12px;
    }
  }
  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    
    height: 100%;

    &:after, &:before {
      content: none !important;
    }

    @media @mobiles {
      display: block;
    }
  }

  &__item {
    
    &--logo {
      display: flex;
      align-items: center;
      
      @media @mobiles {
        margin-bottom: 15px;
      }
      img {
        display: inline-block;
        margin-right: 30px;
        width:auto;
      }
      
      span {
        display: inline-block;
        width: 180px;
        font-family: Acrom;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        color:#ffffff;
        @media @mobiles {
          color: #00000a;
        }
      }
    }

    &--info {
      text-align: right;
      @media @mobiles {
        display: none;
      }
    }

    &--btn {
      @media @mobiles {
        display: none;
      }
    }

    &--mobiles {
      display: none;
      @media @mobiles {
        display: block;
        text-align: center;

        
      }
    }
  }
  &__row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 15px;
    
    a {
      display: block;
      margin-bottom: 0;
    }
    .footer__btn {
      font-size: 12px;
    }

    .footer__tel {
      font-size: 14px;
    }
  }

  &__tel {
    font-size: 19px;
    margin-bottom: 15px;
  }

  &__privacy {
    font-size: 14px;
    text-decoration: underline;
  }
}





.parallax {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 400px;
  
  @media @mobiles {
    height: 200px;  
    background-image: url('../img/parallax-mobile.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }   

  &__item {
    @media @mobiles {
      display: none;
    }   
    &--grass {
      img {
        width: 90%;
        margin-top: 20%;
      }
    }

    &--ball {
      img {
        //width: 15%;
        right: 30%;
        margin-top: 10%;
        margin-left: 77%;
      }
      
    }

    &--boy {
      img {
        width: 90%;
        margin-top: -10%;
        margin-left: 5%;
      }
    }
  }


}



.pull {
  &--right {
    float: right;
  }
  &--left {

  }
}



.form {
  &--popup {  
    position: relative;
    width: 450px;
    border-radius: 10px;
    background-color: #00000a;
    padding:30px;
    
    left: 0;
    right: 0;
    margin: auto;

    @media @mobiles {
      width: 320px;
      padding: 30px 15px;
    }
  }

  &--map {
    background-color: #00000a;
    padding: 30px;
    @media @mobiles {
      background: none;
      padding: 15px;  
    }
  }
  &--top {
    .btn, .form__input {
      margin-bottom: 20px;

      @media @mobiles {
        margin-bottom: 15px;
      }
    }
    .btn--red {
      @media @mobiles {
        margin-bottom: 15px;
        background-color: #00000a;
        color:#ffffff;
      } 
    }

  }
  &__title {
    font-family: Acrom;

    text-align: center;
    margin-bottom: 15px;
    
    color: #ff0000;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__subtitle {
    color: #ffffff;

    margin-bottom: 30px;

    text-align: center;
    text-transform: uppercase;

    font-size: 18px;
    line-height: 22px;
  }
  &__input {
    display: block;
    padding: 0 15px;
    text-align: center;
    width: 100%;
    height: 45px;
    line-height: 45px;
    margin-bottom: 35px;

    border-radius: 22px;
    border: 2px solid #00000a;
    background-color: #ffffff;

    @media @mobiles {
      height: 38px;
      line-height: 38px;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 15px;

    }
  }
  &__info {
    width: 220px;
    color: #00000a;
    font-size: 16px;
    font-weight: 400;
    padding-left: 15px;

    @media @mobiles {
      font-size: 12px;
      font-weight: 400;
      color: #ffffff;
      text-align: center;
      padding:15px;
      width: 100%;
    }
  }

  &__btn {
    width: 100%;
  }
}


.select { 
  display: block;
  position:relative;
  
  height: 45px;
  width: 100%;
  margin-bottom: 35px;
  cursor: pointer;
  
  @media @mobiles {
    height: 38px;
    margin-bottom: 15px;
  }
  &:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 45px;
    height: 45px;
    border-radius: 25px;

    background-color: #ccccce;
    z-index: 1;
    @media @mobiles {
      height: 38px;
      width: 38px;
    }
  }


  &:after {
    content:"";
    position:absolute;
    height: 0;
    right:30px;
    
    top:18px;
    
    right: 12px;

    width: 19px;
    height: 10px;
    
    transition: transform 0.3s ease;
    background-image: url('../img/icon-down.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;

    @media @mobiles {
      width: 15px;
      height: 10px;
      top: 0;
      bottom: 0;
      right: 10px;
      margin: auto;

    }
    
  }


  


  &--panel {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;

    .select__placeholder {
      border:1px solid #f1f1f1;
      border-radius: 5px;
    }
  }
  &__placeholder {
    position:relative;
    display:block;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color:#00000a;
    cursor:pointer;
    background-color: #ffffff;
    border-radius: 25px;
    overflow:hidden;

    @media @mobiles {
      height: 38px;
      line-height: 38px;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
  

  &--opened {
    .select__inner {
      display:block;
    }
    &:after {
      transform: rotateZ(-180deg);
    }
  }


  &__inner {
    display:none;
    position:absolute;
    top:45px;
    left:0;
    right:0;
    margin:auto;
    background:#ffffff;
    border:1px solid #f1f1f1;
    z-index: 4;

    width: ~"calc(100% - 50px)";
    
    @media @mobiles {
      top:37px;
      width: ~"calc(100% - 30px)";
    }
  }
  
  &__item {
    cursor:pointer;
    padding:5px 14px;
    color:#000;

    &:hover {
      background-color:#005F9F;
      color:#fff;
    }

    @media @mobiles {
      line-height: 21px;
      font-size: 14px;
      padding: 5px 10px;
      
      border-bottom: 1px solid #cccccc;
    }
  }
}

.section-image {
  &__img {
    margin-bottom: 30px;
    @media @mobiles {
      margin-bottom: 15px;
    }
  }

  &__desc {
    padding-right: 50%;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    
    &--trainers {
      background-image: url('../img/bg-trainers.png');
      background-repeat: no-repeat;
      background-position: right;
      background-size: contain;
      padding-bottom: 120px;

      @media @mobiles {
        padding-bottom: 50px;
      }

      @media @mobile-xs {
        background-size: 100px;
      }

      

    }
    
    @media @tablet {
      font-size: 25px;
      line-height: 30px;
      padding-right: 35%;
      padding-bottom: 80px;
    }

    @media @mobiles {
      font-size: 12px;
      line-height: 16px;
      padding-right: 15%;
    }
  }
}

.mapblock {
  
  display: flex;
  flex-direction: row;

  @media @mobiles {
    display: block;
  }

  &__map {
    height: 575px;
    width: 70%;
  
    @media @tablet {
      width: 50%;
      //height: 350px;
    }

    @media @mobiles {
      width: 100%;
      height: 350px;
    }
  }

  &__info {
    width: 30%;
    @media @tablet {
      width: 50%;
    }
    @media @mobiles {
      width: 100%;
    }
  }


}

.review {
  display: flex;
  flex-direction: row;
  position: relative;
  

  @media @mobiles {
    display: block;
  }

  &__photo {
    width: 400px;
    height: 260px;
    font-size: 0;
    img {
      width: 100%;
      height: auto;
    }
    
    @media @tablet {
      width: 300px;
      height: auto;
    }
    
    @media @mobiles {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
    }
  }

  &__desc {
    position: relative;
    width: 60%;
    margin-left: 30px;
    color: #00000a;
    font-family: Acrom;
    font-size: 21px;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 50px;
    
    @media @desktop {
      font-size: 17px;
      line-height: 25px;
    }

    @media @tablet {
      font-size: 16px;
      line-height: 21px;
    }

    @media @mobiles {
      font-size: 12px;
      line-height: 18px;
      width: 100%;
      margin: 0;
      padding-bottom: 0;
    }
  }

  &__info {
    position: absolute;
    bottom: 0;
    
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media @mobiles {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      align-content: center;
    }
  }

  &__text {
    text-align: justify;
    text-indent: 30px;
    @media @mobiles {
      margin-bottom: 15px;
      font-size: 12px;
      line-height: 14px;
    }
  }

  &__stars {
    display: flex;
  }
  &__author {
    padding-left:15px;
  }
}

.star {
  display: inline-block;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../img/icon-star.png');

  &:last-child {
    margin-right: 0;
  }
  @media @mobiles {
    width: 15px;
    height: 15px;
  }
}


.promo {
  text-align: center;
  &__info {
    text-align: left;
    display: flex;
    margin-bottom: 80px;

    @media @tablet {
      margin-bottom: 50px;
    }
    @media @mobiles {
      display: block;
      margin-bottom: 15px;
    }
  }
  &__title { 
    width: 49%;
    font-family: "Code-Pro";
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -0.9px;
    margin:0;

    @media @mobiles {
      width: 100%;
      font-size: 23px;
      text-align: center;
    }
  }

  &__text {
    width: 49%;
    color: #00000a;
    font-family: Acrom;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.6px;

    @media @mobiles {
      width: 100%;
      text-align: center;
      font-size: 15px;
      line-height: 22px;
    }
  }

  &__btn {
    font-family: "Code-Pro";
    height: 87px;
    border-radius:45px;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding: 20px 25px;

    @media @mobiles {
      width: 100%;
      height: 47px;
      font-size: 22px;
      padding: 3px 20px;

    }
  }
}

.reviews {
  &__pagination {
    position: absolute;
    bottom: 0;
    height: 30px; 
    width: ~"calc(100% - 160px)" !important;
    
    left: 0;
    right: 0;
    margin: auto;

    &:before {
      content: '';
      position: absolute;
      width: ~"calc(50% - 60px)";
      height: 3px;
      background-color: #ccccce;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    &:after {
      content: '';
      position: absolute;
      width: ~"calc(50% - 60px)";
      height: 3px;
      background-color: #ccccce;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;

    }

    @media @mobiles {
      position: relative;
      bottom: 0 !important;
      width: 100% !important;
    }
  }



  &__prev, &__next {
    @media @mobiles {
      display: none;
    }

  }


}
.swiper-slide {
  cursor: pointer;
  font-size: 0;

  img {
    width: 100%;
  }
}
.swiper--small .swiper-button-prev,
.swiper--photos .swiper-button-prev {
  background-image: url('../img/slider-left.png');
  &:hover {
    background-image: url('../img/slider-left-active.png');
  }
}
.swiper--small .swiper-button-next,
.swiper--photos .swiper-button-next {
  background-image: url('../img/slider-right.png');
  &:hover {
    background-image: url('../img/slider-right-active.png');
  }
}
.swiper--reviews {
  padding: 0 80px 50px 80px;
  margin: 0 -25px;

  &:before {
    content: '';
    position: absolute;
    
    width:3px;
    height: 260px;
    top: 0;

    left: 35px;
    background-color: #ccccce;

  }
  &:after {
    content: '';
    position: absolute;
    
    width:3px;
    height: 260px;
    top: 0;
    right: 35px;

    background-color: #ccccce;
  }
  @media @mobiles {
    padding: 0;
    margin: 0;
    
    &:before, &:after {
      content: none;
    }
  }
}

.swiper--reviews .swiper-button-prev {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #ccccce;
  background-image: url('../img/icon-left.png');
  background-size: 30%;
  background-position: center;
  top: 130px;
  bottom: unset;
}

.swiper--reviews .swiper-button-next {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: #ccccce;
  background-image: url('../img/icon-right.png');
  background-size: 30%;
  background-position: center;
  top: 130px;
  bottom: unset;
}


.swiper--reviews .swiper-button-disabled {
  opacity: 1;
  background-color: #ededee !important;
}
.swiper-pagination-bullet-active {
  background-color: #00000a;
}

/* FLEXSLIDER */
.flexslider {
  background-color: #000000;
  border: 30px solid #000000;
  border-radius: 5px;

  @media @mobiles {
    border-width: 10px;
  }
}
.flex-control-thumbs {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 15px;
  width: auto;
  
  display: flex;
  flex-wrap: wrap;

  li {
    padding: 15px;
    @media  @mobiles {  
      padding: 5px;
    }
  }

  @media @mobiles {
    margin-left: -5px;
    margin-right: -5px;
    margin-top: 5px;
  }
}

.overlay {
  position: fixed; 
  overflow-y: scroll;
  top: 0; left: 0; top: 0; bottom: 0;

  transition: opacity 0.3s ease, z-index 0s 1s;
  width: 100vw;
  z-index: -1; 
  opacity: 0;  
  
  background:  rgba(200,200,200, .4);
  padding: 50px 0;

  &--active {
    transition: opacity 1s;
    width: 100%; 
    z-index: 101;  
    opacity: 1; 
  }
  
  &__close {
    position: absolute;
    right: -20px;
    top: -20px;
    width: 15px;
    height: 15px;
    background-image: url('../img/icon-close.png');
    background-position: center;
    background-size: contain;
    
    cursor: pointer;
    transition:transform 0.3s ease;

    &:hover {
      transform: rotateZ(180deg);
    }

    &--form {
      right: 10px;
      top: 10px;
    }
  }
}

.noscroll { overflow: hidden; }

@media (min-device-width: 1025px) {
  .noscroll { 
      padding-right: 15px;
  }
}






/* FRANCHISE */

.link {
  &--center {
    display: block;
    color: #ffffff;
    
    text-decoration: underline;
    text-align: center;
    font-style: 18px;
    font-weight: 400;
    transition: color 0.3s ease;
    &:hover {
      color: #e1002b;
    }
  }

  &--small {
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
  }

  &--red {
    color: #e1002b;
    transition: color 0.3s ease;
    &:hover {
      color: lighten(#e1002b,10%);
    }
  }
}
.franchise {
  .section__title {
    font-size: 28px;
    font-weight: 200;
    line-height: 42px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 40px;
  }

  .section--map {
    position: relative;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  .map {
    height: 700px;
  }
}


.facts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
  @media @mobiles {
    display: block;
  }
  &__item {
    position: relative;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    padding-left: 75px;

    width: 33%;
    max-width: 340px;
    margin-bottom: 25px;

    &:before {
      content: '';
      position: absolute;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 56px;
      height: 56px;
      left: 0;
    }

    &--proud {
      padding-left: 90px;
      
      &:before {
        width: 70px;
        height: 70px;

      }

      &:nth-child(1):before {
        background-image: url('../img/icon-facts-proud-1.png');
      }
      &:nth-child(2):before {
        background-image: url('../img/icon-facts-proud-2.png');
      }
      &:nth-child(3):before {
        background-image: url('../img/icon-facts-proud-3.png');
      }
    }
    &--whistle:before {
      background-image: url('../img/icon-facts-whistle.png');
    }
    &--docs:before {
      background-image: url('../img/icon-facts-docs.png');
    }
    &--flag:before {
      background-image: url('../img/icon-facts-flag.png');
    }
    &--check:before {
      background-image: url('../img/icon-facts-check.png');
    }
    &--bird:before {
      background-image: url('../img/icon-facts-bird.png');
    }
    &--calc:before {
      background-image: url('../img/icon-facts-calc.png');
    }
    &--manager:before {
      background-image: url('../img/icon-facts-manager.png');
    }
    &--clock:before {
      background-image: url('../img/icon-facts-clock.png');
    }
    &--boxes:before {
      background-image: url('../img/icon-facts-boxes.png');
    }
  }
}
.manager {
  width: 50%;
  max-width: 499px;
  text-align: center;

  &__photo {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow:hidden;
    margin-bottom: 30px;

    background-color: #cccccc;
    margin-left: auto;
    margin-right: auto;
  }

  &__name {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  &__position {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px;
  }
  
  &__text {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 28px;
  }

}


.content {
  &__item {
    position: relative;

    display: flex;
    align-items: center;

    min-height: 45px;
    margin-bottom: 15px;
    padding-left: 70px;

    color: #515151;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    
    span {
      font-weight: 600;
    }

    &:before {
      content: '';
      position: absolute;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 40px;
      height: 40px;
      left: 0;
      top: 5px;
    }

    &--start:before {
      background-image: url('../img/icon-content-start.png');
    }
    &--book:before {
      background-image: url('../img/icon-content-book.png');
    }
    &--method:before {
      background-image: url('../img/icon-content-method.png');
    }
    &--call:before {
      background-image: url('../img/icon-content-call.png');
    }
    &--smm:before {
      background-image: url('../img/icon-content-smm.png');
    }
    &--brand:before {
      background-image: url('../img/icon-content-brand.png');
    }
    &--consult:before {
      background-image: url('../img/icon-content-consult.png');
    }
  }
}

.section {
  &--promo-page {
    padding-top: 90px;
    padding-bottom: 200px;
    position: relative;

    .container {
      z-index: 4;
    }
  }
  &--red {
    position: relative;
    padding-top: 50px;
    padding-bottom: 90px;
    background-color: #bc0e22;
    .container {
      z-index: 4;
    }
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 200px;
      background-color: #ffffff;
      transform:skewY(-8deg) translateY(-400px);
      transform-origin: 100%;
      top: 0;
      z-index: 2;
    }

    &:after {
      content: '';
      width: 100%;
      height: 200px;
      position: absolute;
      top: 0;
      background-color: #bc0e22;
      transform:skewY(-8deg) translateY(-200px);
      transform-origin: 100%;
      z-index: 3;
    }
    
    
  }

  &--feedback {
    padding-top: 100px;
    padding-bottom: 250px;
    position: relative;
    overflow:hidden;
    &:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: -100%;

      background-color: #00000a;

      transform:skewY(-8deg);
      transform-origin: 0;
      z-index: -1;
        
    }
    &:after {
      content: '';
      width: 100%;
      height: 130px;
      position: absolute;
      bottom:0;

      background-color: #bc0e22;

      transform:skewY(8deg);
      transform-origin: 0;
      z-index: -2;

    }
  }

  &--facts {
    position: relative;
    padding-bottom: 100px;
    background-color: #00000a;

  }

  

  &--content {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    
    &:before {
      content: '';
      width: 100%;
      height: 200px;
      position: absolute;
      top: -200px;
      background-color: #00000a;

      transform:skewY(-8deg);
      z-index: -1;

    }
  }

  &--manager {
    position: relative;
    overflow: hidden;
    padding-top: 220px; 
    padding-bottom: 100px;
    &:before {
      content: '';
      width: 100%;
      height: 200px;
      position: absolute;
      top: 0;

      background-color: #000000;

      transform:skewY(-8deg);
      transform-origin: 0;
      z-index: -1;

    }
    &:after {
      content: '';
      width: 100%;
      height: 200px;
      position: absolute;
      top: 0;

      background-color: #bc0e22;

      transform:skewY(8deg);
      transform-origin: 100% 0;
      z-index: -2;

    }
  }

  &--black {
    padding: 60px 0;
    background-color: #00000a;
  }

  &--conditions {
    padding-top: 80px;
    padding-bottom: 100px;
    overflow: hidden;

    position: relative;
    &:before {
      content: '';
      width: 100%;
      height: 55px;
      
      position: absolute;
      bottom: 0;

      background-color: #bc0e22;

      transform:skewY(8deg);
      transform-origin: 0;
      z-index: -1;

    }
  }

  &__title {
    &--claws-white {
      padding-left: 160px;
      position: relative;
      height: 140px;
      display: flex;
      align-items: center;
    
      &:after {
        content: '';
        position: absolute;
        width: 140px;
        height: 140px;
        left: 0;
        top: 0;
        background-image: url('../img/claws-white.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    &--claws-red {
      padding-right: 160px;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: right;
      height: 140px;

      &:after {
        content: '';
        position: absolute;
        width: 140px;
        height: 140px;
        right: 0;
        top: 0;
        background-image: url('../img/claws-red.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
  
  &__subtitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;

    &--white {
      color: #ffffff;
    }
  }
  
  &__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 15px;
    
    &--white {
      color: #ffffff;
    }

    &--center {
      text-align: center;
      margin-bottom: 60px;
    }
  }
}


.list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 40px;

  &--footer {
    margin-bottom: 0;

    .list__item {
      color: #ffffff;
      font-size: 14px;
      font-weight: 700;
      line-height: 28px;

      padding-left: 0;
      display: inline-block;

      &:before {
        content: none;
      }
      padding-right: 15px;
      margin-right: 8px;
      
      &:after {
        content: '|';
        position: absolute;
        right: 0;
        top: 0;
      }

      &:last-child:after {
        content: none;
      }

      a {
        font-size: 14px;
        font-weight: 700;
        line-height: 28px;
      }
    }


  }

  &__item {
    position: relative;
    padding-left: 25px;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 10px;
    span {
      font-weight: 600;
    }

    &:before {
      content: '—';
      position: absolute;
      left: 0;
    }
  }
}


.map {
  width: 100%;
  height: 500px;
}


.footer {
  &--black {
    position: relative;
    background-color: #00000a;
    height: auto;
    padding: 45px 0;
  }

  &__claws {
    width: 340px;
    height: 480px;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &__text {
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
  }

}


.feedback {
  
  display: flex;
  margin-bottom: 30px;

  &__photo {
    width: 140px;
    height: 140px;
    min-width: 140px;
    margin-right: 40px;
    border-radius: 20px;
    overflow: hidden; 

    img {
      height: 100%;
      width: auto;
    }

    
  }
  &__desc {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
  }
  
  &__text {
    margin-bottom: 15px;
  }

  &__author {
    font-weight: 600;
  }
}


.table {
  width: 100%;
  border-collapse: collapse;
  &__row {
    &:last-child {
      .table__cell {
        background-color: #e90000;
        color: #ffffff;
        border-color: #e90000;
      }
    }
  }

  &__cell {
    padding: 40px 30px;
    text-align: center;
    border: 1px solid #00000a;
    &:first-child {
      background-color: #00000a;
      color:#ffffff;
      text-align: left;
    }
  }
}


.promo-page {
  max-width: 780px;
  &__title {
    font-family: "Code-Pro";
    color: #000000;
    font-size: 48px;
    font-weight: 400;
    line-height: 58px;
    text-transform: uppercase;
    
    margin-bottom: 25px;
  }
  &__desc {

  }
  &__links {
    width: 440px;
    text-align: center;
    a {
      width: 100%;
      display: block;
    }
  }
  &__childs  {
    position: relative;
    
    font-size: 0;
    position: absolute;
    right: 0;
    bottom: 100px;
    width: 650px;
    z-index: 3;
    overflow: hidden;
    
    @media @desktop-xl {
      width: 600px;
    }
    @media @desktop-xt {
      width: 650px;
    }
    img {
      display: block;
      transform: scale(1.1);
    }

    &:before {
      content: '';
      position: absolute;
      top: 100px;
      width: 100%;
      height: 100px;
      //background-color: #bc0e22;
      background-color: #ffffff;
      transform:skewY(-8deg);
      transform-origin: 0;
      top: 0;
      z-index: 2;
    }
  }
  &__parallax {
    position: absolute;
    
    overflow: unset;
    right: 100px;
    bottom: 150px;
    z-index: 4;


    @media @desktop-xl {
      width: 500px;
      height: 350px;
    }
    @media @desktop-xt {
      width: 550px;
      height: 350px;
    }

  }
}


.checker {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  height: 85px;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 0 20px;

  .select, .btn {
    margin-bottom: 0;
  }
  
  .select {
    width: 200px;
    &__placeholder {
      font-size: 18px;
      font-weight: 400;
      text-align: left;
    }
    &__inner {
      width: 95%;
    }

    &__item {
      font-size: 14px;
    }

    &:before {
      content: none;
    }
    &:after {
      right: 0;
      width: 10px;
      height: 7px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
}

.select {

}

.container {
  &--boys {
    position: relative;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    pointer-events:none;
  }
}
.map {

  &__boys {
    position: relative;
    margin-top: 50px;
    
  }

}
