 /* imports */
@import "./imports/_mixins.less";
@import "./imports/_variables.less";
@import "./imports/_fonts.less";

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: Acrom;
  font-size: 20px;
  font-weight: 400;
  color: #00000a;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin:0;
}


.body {
  background:url('../img/bg-main-dust.png') 100% 100% repeat-y,  url('../img/bg-main.png') 100% 100% repeat-y ;
  background-size: 100%;

  background-position: 0 0;
  background-size: cover;
}

/* STRIP */

.strip {
  height: 75px;
  text-align: right;
  padding:15px 0;
  &__item {
    display: inline-block;
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
}

/* HEADER */
.header {
  background-color: #00000a;
  height: 70px;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    &:after {
      content: none !important;
    }
  }
  &__item {
    display: block;


    &--logo {
      width: 200px;
      position: relative;

      img {
        position: absolute;
        top:-45px;
      }

    }
  }
}

/* NAV */

.nav {
  &__list {

  }

  &__item {
    display: inline-block;
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    color:#ffffff;
    color: #ffffff;
    
    font-size: 18px;
    font-weight: 700;
    line-height: 70px;
    
    text-transform: uppercase;
    text-decoration: none;
    
    transition: color 0.3s ease;

    &:hover {
      color: #e1002b;
    }

    &--red {
      color: #e1002b;

      &:hover {
        color:#ffffff;
      }
    }
  }
}

/* MAIN */ 

.container {
  padding: 0;

  &:after {
    display: block;
    content: "";
    clear: both;
  }
}
.section {
  
  &--page {
    padding-top: 80px;
  }
  &--map {
    background-color: #00000a;
  }
  &__title {
    font-family: "Code-Pro";
    font-size: 45px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -0.9px;
    
    margin-bottom: 30px;

    &--white {
      color:#ffffff;
    }

    &--right {
      text-align: right;
    }

    &--center {
      text-align: center;
    }
  }
}


/* PAGE */

.page {
  &__title {
    margin: 0;
    font-family: "Code-Pro";
    font-size: 54px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
}


/* Buttons */
.link {
  color: #00000a;
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
.btn {
  display: inline-block;

  


  height: 45px;
  padding: 0 25px;
  margin-bottom: 25px;

  border-radius: 25px;

  line-height: 45px;
  
  font-size: 16px;
  font-weight: 700;
  
  text-transform: uppercase;
  text-decoration: none;

  
  
  &--white {
    background-color: #ffffff;
    color: #00000a;
  }

  &--red {
    background-color: #ff0000;
    color:#ffffff;
  }

  &--br {
    box-sizing: content-box;
    border: 2px solid #00000a;
    background-color: #ffffff;
    color: #00000a;
    text-transform: uppercase;
  }
}

/* Sections */


.keys {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  &__item {
    width: ~"calc(25% - 20px)";

    &:last-child {
      margin-right: 0;
    }
  }
}


.key {
  color: #00000a;
  &__img {
    margin-bottom: 15px;
    text-align: center;
  }
  &__title {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  &__desc {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }

  &__text {
    font-weight: 400;
    line-height: 27px;
    font-size: 18px;
    text-align: justify;
    word-wrap: break-word;
  }
}


.roll {
  position: relative;
  width: 90%;
  height: 280px;

  padding:95px 0;
  left: 0;
  right: 0;
  margin: auto;
  
  background-image: url('../img/bg-scroll.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  &__text {
    position: relative;

    height: 90px;
    background-image: url('../img/bg-roll.png');
    
    background-repeat: no-repeat;
    background-position: center;
    padding:12px 0;

    color: #00000a;
    font-family: "Code-Pro";
    font-size: 29px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;

    &:before, &:after {
      content: '';
      position: absolute;  
      width: 30px;
      height: 100px;
      top:-5px;

      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &:before {
      background-image: url('../img/bg-scroll-left.png');
      left: -29px;
    }

    &:after {
      background-image: url('../img/bg-scroll-right.png');
      right: -29px;
    }
  }
}

.info {
  display: flex;
  justify-content: space-between;
  &__item {
    width: ~"calc(33.33% - 20px)";
  } 

  &__img {
    text-align: center;
    margin-bottom: 30px;
  }

  &__desc {
    color: #ffffff;
  }
  
  &__title {
    font-size: 34px;
    font-weight: 700;
  }

  &__text {
    font-weight: 400;
    line-height: 27px;
    font-size: 18px;
    text-align: justify;
    word-wrap: break-word;
  }

}

.prouds {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__item {
    width: ~"calc(33.33% - 15px)";

    margin-bottom: 60px;
  }

  &__img {
    text-align: center;
    margin-bottom: 30px;
  }

  &__desc {
    color: #00000a;
    font-size: 20px;

  }

  &__title {
    font-size: 34px;
    font-weight: 700;
  }
  &__text {
    font-weight: 400;
    line-height: 27px;
    font-size: 18px;
    text-align: justify;
    word-wrap: break-word;
  }
}

.faq {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  &__item {
    color: #00000a;
    background-color: #ffffff;
    padding:30px;
    width: ~"calc(50% - 15px)";
    margin-bottom: 30px;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;

    border-bottom: 1px solid #ff0000;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }

  &__desc {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }
}


.mapblock {

}

.footer {
  height: 110px;
  background-color: #ff0000;

  &__container {
    display: flex;
    flex-direction: row;
  }
}





.parallax {
  position: relative;
  width: 100%;
  height: 100%;
  
  &__item {
    position: absolute;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
    }

    &--grass {
      img {
        width: 100%;
        bottom: 12%;
      }
    }

    &--ball {
      img {
        width: 15%;
        right: 33%;
        top: 15px;
      }
      
    }

    &--boy {
      img {
        width: 80%;
        top: -15%;
      }
    }
  }


}



.pull {
  &--right {
    float: right;
  }
  &--left {

  }
}



.form {
  &__input {
    display: block;
    padding: 0 15px;
    text-align: center;
    width: 100%;
    height: 45px;
    line-height: 45px;
    margin-bottom: 20px;

    border-radius: 22px;
    border: 2px solid #00000a;
    background-color: #ffffff;
  }
  &__info {
    width: 220px;
    color: #00000a;
    font-size: 16px;
    font-weight: 400;
    padding-left: 15px;
  }

  &__btn {
    width: 100%;
  }
}